.mission-left img {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 250px;
    margin: 30px 40px;
}

.about {
    margin: 40px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mission {
    display: flex;
    align-items: center;
    background-color: rgba(255, 178, 110, 0.575);
}

.mission-right h2 {
    font-size: 34px;
}

.mission-right p {
    font-size: 20px;
    margin-top: 15px;
}

.story {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 165, 87, 0.712);
}

.story-right img {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 320px;
    margin: 30px 40px;
}

.story {
    display: flex;
    align-items: center;
}

.story-left h2 {
    font-size: 30px;
    margin-left: 40px;
}

.story-left p {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

@media screen and (max-width: 980px) {

    .mission-left img {
        height: 250px;
        width: 250px;
        margin: 30px 30px;
    }

    .story-right img {
        height: 250px;
        width: 250px;
        margin: 30px 30px;
    }

    .mission-right h2 {
        font-size: 27px;
    }

    .mission-right p {
        font-size: 17px;
        margin-top: 15px;
    }

    .story-left h2 {
        font-size: 27px;
        margin-left: 40px;
    }

    .story-left p {
        font-size: 17px;
        margin-top: 20px;
        margin-left: 40px;
    }

}

@media screen and (max-width: 800px) {
    .mission-left img {
        height: 0px;
        width: 0px;
        margin: 0;
        border: none;
    }

    .story-right img {
        height: 0px;
        width: 0px;
        margin: 0px;
        border: none;
    }

    .mission-right {
        margin: 20px 40px 30px 40px;
    }


    .story-left h2 {
        margin-left:0px;
    }
    
    .story-left p {
        margin-left: 0px;
    }

    .story-left {
        margin: 20px 40px 30px 40px;
    }
    
}